<div class="delivery">
  {% extends 'sr_base.html' %}

  {% block title %}Security Center Delivery Portal{% endblock %}
  
  {% block nav %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/delivery9.css' %}"> 

    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{% url 'Dhome_url' %}">Delivery Portal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'securityhome_url' %}">Security Center</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Dsearch_url' %}">Search Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Dcheckout_url' %}">Package Checkout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Dadd_url' %}">Add New Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Dgenerateqr_url' %}">Generate QR Code</a>
          </li>
        </ul>
        <form class="form-inline" style="margin:0;">
          {% if user.is_authenticated %}
            {% if user.is_superuser %}
              <h5 style="color:white; margin:0 20px 0 30px; border-radius: 5px; padding:5px">Admin | {{user.first_name }} {{user.last_name}} ({{user.team_at}})</h5>
              <a class="top-banner" style="color:white; margin:0 20px 0 30px; border-radius: 5px; padding:5px" href="{% url 'logout_url' %}">Logout</a>
            {% else %}
              <h5 style="color:white; margin:0 20px 0 30px; border-radius: 5px; padding:5px">User | {{user.first_name }} {{user.last_name}} ({{user.team_at}})</h5>
              <a class="top-banner" style="color:white; margin:0 20px 0 30px; border-radius: 5px; padding:5px" href="{% url 'logout_url' %}">Logout</a>
            {% endif %}
          {% else %}
            <h5 style="color:white; margin:0">Login Here</h5>
            <a class="top-banner" style="color:white; margin:0 20px 0 30px; border-radius: 5px; padding:5px" href="{% url 'login_url' %}">Login</a>
          {% endif %}
        </form>
      </div>
    </nav>
  {% endblock %}
  
  {% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/delivery2.css' %}"> 
    <div class="list" style="margin:20px 150px;">
      {% block list %}
      {% endblock %}
    </div>
    <div class="container">
      {% block container %}
      {% endblock %}
    </div>
  {% endblock %}  
</div>
